*{
  margin: 0;
  padding: 0;
}

.login-title{
margin: 50px;
font-size: 50px;
text-align: center;
}
.login-page{
  display: flex;
  height: 100vh;
  align-items: center;
 
  flex-direction: column;
 
}
.login{
  margin: 15px;
  padding: 5px;
  border: 2px solid rgb(231, 124, 188);
  outline: none;
  min-width: 30%;
  font-size: 18px;
}
.login-btn{
  margin: 20px;
  padding: 5px;
  border-radius: 3px;
  width: 90px;
  border: 2px solid rgb(231, 124, 188);
  background-color: white;
  font-size: 20px;
}
.login-label{
align-items: flex-start;
}

.login-btn:hover{
  background-color: rgb(231, 124, 188);
}

.bg{
  height: 80vh;
  width: 100vw;
  margin: 0;
  font-size: 30px;
 background-color: rgb(238, 208, 226);
 display: flex;
 justify-content: center;
 align-items: center;
}