*{
  margin: 0;
  padding: 0;
}
/* .appbar{
display: flex;
justify-content: space-between;
flex-direction: row-reverse;
row-gap: 1;
} */

.login-title{
margin: 50px;
font-size: 50px;
text-align: center;
}
.login-page{
  display: flex;
  height: 100vh;
  align-items: center;
   background-color:rgb(238, 208, 226);
  flex-direction: column;
 
}
.login{
  margin: 15px;
  padding: 5px;
  border: 2px solid rgb(231, 124, 188);
  outline: none;
  min-width: 30%;
  font-size: 18px;
}
.login-btn{
  margin: 20px;
  padding: 5px;
  border-radius: 3px;
  width: 90px;
  border: 2px solid rgb(231, 124, 188);
  background-color: white;
  font-size: 20px;
}
.login-label{
align-items: flex-start;
}

.login-btn:hover{
  background-color: rgb(231, 124, 188);
}

.cards{
  background-color: rgb(238, 208, 226);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
 
}